# Microsoft-Movie-Analysis

**Authors:** Jonathan, Matt, Nate, Roshni
***

## Required Imports

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

In [2]:
!ls

DS_Project_Presentation.pdf       im.db
Matt_Duncan_prelim.ipynb          images
README.md                         jon_prelim.ipynb
TEMPLATE_README.md                roshni.ipynb
dsc-phase1-project-template.ipynb zippedData
file_imdb

## Box Office Mojo Data Exploration

In [3]:
df_bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df_bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

#### Box Office Mojo data insights

We have 5 columns.

(nearly) All values present - 'title', studio, year

missing a few values in domestic_gross &

missing a lot of values from foreign_gross 

maybe we can add these together and substitute in either mean or median?

In [4]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [5]:
df_bom['domestic_gross'].describe()

count    3.359000e+03
mean     2.874585e+07
std      6.698250e+07
min      1.000000e+02
25%      1.200000e+05
50%      1.400000e+06
75%      2.790000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

## The Movie Database (tmdb) Data Exploration

### The Movie Database data insights

dates range from 1930 - 2020, are all relevant?

In [6]:
df_tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz', index_col=0)
df_tmdb.head

<bound method NDFrame.head of                  genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns]>

##  The Numbers Database Data Exploration

In [7]:
df_tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', index_col=0, )
df_tn

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

## IMDB Data Exploration

In [8]:
import zipfile as zf

In [30]:
file_imdb = zf.ZipFile('zippedData/im.db.zip')
file_imdb.extractall()
#file_imdb.close()
file_imdb

In [31]:
conn = sqlite3.connect(file_imdb)
query = """ SELECT * FROM sqlite_master """
tables = pd.read_sql(query, conn)
tables

TypeError: expected str, bytes or os.PathLike object, not ZipFile

In [11]:
cur = conn.cursor()

## Trying to merge

The data frames I am working with are:

The Numbers - df_tn

Box Office Mojo - bom_df

The Movies Database - df_tmdb

In [12]:
df_tn.head(1)

    release_date   movie production_budget domestic_gross worldwide_gross
id
1   Dec 18, 2009  Avatar      $425,000,000   $760,507,625  $2,776,345,279

In [13]:
df_tn_mod = df_tn.set_index('movie')

In [14]:
df_tn_mod.head(1)

        release_date production_budget domestic_gross worldwide_gross
movie
Avatar  Dec 18, 2009      $425,000,000   $760,507,625  $2,776,345,279

In [15]:
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [16]:
df_tmdb.head(1)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [17]:
#making a modified copy of df_tmdb 
df_tmdb_mod = df_tmdb

In [18]:
#copy 'orig_title' column into 'movie' column to line up with other dataframe
df_tmdb_mod['movie'] = df_tmdb_mod['original_title']

#setting index to movie in order to join
df_tmdb_mod = df_tmdb_mod.set_index('movie')

#dropping release date because it appears in the other database and was causing a conflict 
#(one of the release_date columns were note conveted to date/time***)
df_tmdb_mod = df_tmdb_mod.drop('release_date', axis=1)

In [19]:
df_tmdb_mod.head(1)

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count
movie,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

### Left Join

In [20]:
df_tmdb_tn_leftjoin = df_tmdb_mod.join(df_tn_mod, on='movie', how='left', lsuffix='tmbd', rsuffix='tn')
df_tmdb_tn_leftjoin

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN,NaN,NaN,NaN
How to Train Your Dragon,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
Iron Man 2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,Iron Man 2,6.8,12368,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,Toy Story,7.9,10174,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"
Inception,"[28, 878, 12]",27205,en,Inception,27.920,Inception,8.3,22186,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
...,...,...,...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,"[27, 18]",488143,en,Laboratory Conditions,0.600,Laboratory Conditions,0.0,1,NaN,NaN,NaN,NaN
_EXHIBIT_84xxx_,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,_EXHIBIT_84xxx_,0.0,1,NaN,NaN,NaN,NaN
The Last One,"[14, 28, 12]",381231,en,The Last One,0.600,The Last One,0.0,1,NaN,NaN,NaN,NaN
Trailer Made,"[10751, 12, 28]",366854,en,Trailer Made,0.600,Trailer Made,0.0,1,NaN,NaN,NaN,NaN
The Church,"[53, 27]",309885,en,The Church,0.600,The Church,0.0,1,NaN,NaN,NaN,NaN

In [21]:
len(set(df_tmdb_tn_leftjoin['title']))

24688

### Inner Join

In [22]:
df_tmdb_tn_innerjoin = df_tmdb_mod.join(df_tn_mod, on='movie', how='inner', lsuffix='tmbd', rsuffix='tn')
df_tmdb_tn_innerjoin

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,,,,,,,,
How to Train Your Dragon,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
Iron Man 2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,Iron Man 2,6.8,12368,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,Toy Story,7.9,10174,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,Toy Story,7.9,10174,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"
Inception,"[28, 878, 12]",27205,en,Inception,27.920,Inception,8.3,22186,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
...,...,...,...,...,...,...,...,...,...,...,...,...
The Box,[],509316,en,The Box,0.600,The Box,8.0,1,"Nov 6, 2009","$25,000,000","$15,051,977","$34,356,760"
The Box,[10402],509306,en,The Box,0.600,The Box,6.0,1,"Nov 6, 2009","$25,000,000","$15,051,977","$34,356,760"
Enough,"[35, 16]",546674,en,Enough,0.719,Enough,8.7,3,"May 24, 2002","$38,000,000","$39,177,215","$50,970,660"
Undiscovered,[],513161,en,Undiscovered,0.600,Undiscovered,8.0,1,"Aug 26, 2005","$9,000,000","$1,069,318","$1,069,318"
Jaws,[16],514492,en,Jaws,0.600,Jaws,0.0,1,"Jun 20, 1975","$12,000,000","$260,000,000","$470,700,000"

In [23]:
#to get only unique rows for df, **i'm not sure why the inner join dindn't take care of this
df_tmdb_tn_innerjoin_unique = df_tmdb_tn_innerjoin.drop_duplicates()
df_tmdb_tn_innerjoin_unique

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,,,,,,,,
How to Train Your Dragon,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
Iron Man 2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,Iron Man 2,6.8,12368,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,Toy Story,7.9,10174,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"
Inception,"[28, 878, 12]",27205,en,Inception,27.920,Inception,8.3,22186,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
Percy Jackson & the Olympians: The Lightning Thief,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,"Feb 12, 2010","$95,000,000","$88,768,303","$223,050,874"
...,...,...,...,...,...,...,...,...,...,...,...,...
The Box,[],509316,en,The Box,0.600,The Box,8.0,1,"Nov 6, 2009","$25,000,000","$15,051,977","$34,356,760"
The Box,[10402],509306,en,The Box,0.600,The Box,6.0,1,"Nov 6, 2009","$25,000,000","$15,051,977","$34,356,760"
Enough,"[35, 16]",546674,en,Enough,0.719,Enough,8.7,3,"May 24, 2002","$38,000,000","$39,177,215","$50,970,660"
Undiscovered,[],513161,en,Undiscovered,0.600,Undiscovered,8.0,1,"Aug 26, 2005","$9,000,000","$1,069,318","$1,069,318"
Jaws,[16],514492,en,Jaws,0.600,Jaws,0.0,1,"Jun 20, 1975","$12,000,000","$260,000,000","$470,700,000"

In [24]:
df_tmdb_tn_innerjoin_unique.sort_values(by='id', ascending=False).tail(50)

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count,release_date,production_budget,domestic_gross,worldwide_gross
movie,,,,,,,,,,,,
The Fast and the Furious,"[28, 80, 53]",9799,en,The Fast and the Furious,1.784,The Fast and the Furious,6.8,5427,"Jun 22, 2001","$38,000,000","$144,512,310","$206,512,310"
The Break-Up,"[10749, 35]",9767,en,The Break-Up,11.165,The Break-Up,5.7,1480,"Jun 2, 2006","$52,000,000","$118,703,275","$205,727,307"
Bad Boys,"[28, 35, 80, 53]",9737,en,Bad Boys,16.608,Bad Boys,6.6,2936,"Apr 7, 1995","$23,000,000","$65,647,413","$141,247,413"
Assassins,"[28, 12, 80, 53]",9691,en,Assassins,10.579,Assassins,6.2,666,"Oct 6, 1995","$50,000,000","$30,306,268","$83,306,268"
Crocodile Dundee,"[12, 35]",9671,en,Crocodile Dundee,10.642,Crocodile Dundee,6.3,917,"Sep 26, 1986","$8,800,000","$174,803,506","$328,203,506"
Dante's Peak,"[28, 12, 53, 18]",9619,en,Dante's Peak,13.514,Dante's Peak,5.9,783,"Feb 7, 1997","$115,000,000","$67,163,857","$178,200,000"
Blood Work,"[80, 53]",9573,en,Blood Work,9.839,Blood Work,6.2,356,"Aug 9, 2002","$50,000,000","$26,199,517","$26,199,517"
Wuthering Heights,"[18, 10749]",9364,en,Wuthering Heights,7.610,Wuthering Heights,6.1,115,"Oct 5, 2012","$8,000,000","$100,915","$2,721,534"
All the Boys Love Mandy Lane,"[27, 9648, 53]",9022,en,All the Boys Love Mandy Lane,10.030,All the Boys Love Mandy Lane,5.5,326,"Oct 11, 2013","$750,000",$0,"$1,960,521"
Derailed,"[18, 53]",8999,en,Derailed,7.814,Derailed,6.2,500,"Nov 11, 2005","$22,000,000","$36,020,063","$57,520,063"
The Tree of Life,"[18, 14]",8967,en,The Tree of Life,11.569,The Tree of Life,6.6,1730,"May 27, 2011","$35,000,000","$13,305,665","$61,721,826"
Conspiracy Theory,"[28, 18, 9648, 53]",8834,en,Conspiracy Theory,10.151,Conspiracy Theory,6.5,707,"Aug 8, 1997","$80,000,000","$76,118,990","$142,783,718"
The Lion King,"[10751, 16, 18]",8587,en,The Lion King,28.583,The Lion King,8.2,10160,"Jun 15, 1994","$79,300,000","$421,785,283","$986,214,868"
Howards End,"[18, 10749]",8293,en,Howards End,9.155,Howards End,7.2,201,"Mar 13, 1992","$8,000,000","$26,124,872","$26,317,943"
Desperado,"[53, 28, 80]",8068,en,Desperado,14.712,Desperado,6.8,1440,"Aug 25, 1995","$7,000,000","$25,532,388","$25,532,388"
Behind Enemy Lines,"[28, 18, 53, 10752]",8007,en,Behind Enemy Lines,10.886,Behind Enemy Lines,6.1,705,"Nov 30, 2001","$40,000,000","$58,855,732","$58,855,732"
The Lovely Bones,"[14, 18]",7980,en,The Lovely Bones,13.285,The Lovely Bones,6.8,2226,"Dec 11, 2009","$95,000,000","$44,114,232","$94,894,448"
The Wolfman,[27],7978,en,The Wolfman,14.030,The Wolfman,5.7,1009,"Feb 12, 2010","$150,000,000","$62,189,884","$142,634,358"
Fireflies in the Garden,[18],7353,en,Fireflies in the Garden,5.121,Fireflies in the Garden,6.3,96,"Oct 14, 2011","$8,000,000","$36,884","$3,587,191"
Carrie,"[27, 53]",7340,en,Carrie,9.467,Carrie,7.1,1766,"Oct 18, 2013","$30,000,000","$35,266,619","$82,409,520"
Carrie,"[27, 53]",7340,en,Carrie,9.467,Carrie,7.1,1766,"Nov 16, 1976","$1,800,000","$25,878,153","$25,878,153"
Van Helsing,"[27, 12, 28]",7131,en,Van Helsing,15.259,Van Helsing,6.1,3047,"May 7, 2004","$170,000,000","$120,150,546","$300,150,546"
The Good Heart,"[18, 35, 10749]",5178,en,The Good Heart,2.321,The Good Heart,6.4,30,"Apr 30, 2010","$3,800,000","$20,930","$340,930"
The Bourne Ultimatum,"[28, 18, 9648, 53]",2503,en,The Bourne Ultimatum,15.620,The Bourne Ultimatum,7.4,4440,"Aug 3, 2007","$130,000,000","$227,471,070","$444,043,396"
The Bourne Supremacy,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,The Bourne Supremacy,7.3,4367,"Jul 23, 2004","$85,000,000","$176,087,450","$311,001,124"
The Bourne Identity,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,The Bourne Identity,7.4,5406,"Jun 14, 2002","$60,000,000","$121,468,960","$214,357,371"
Executive Decision,"[28, 12, 18, 53]",2320,en,Executive Decision,13.860,Executive Decision,6.1,402,"Mar 15, 1996","$55,000,000","$56,679,192","$122,079,192"
Big,"[14, 18, 35, 10749, 10751]",2280,en,Big,15.031,Big,7.0,1813,"Jun 3, 1988","$18,000,000","$114,968,774","$151,668,774"
American Pie,"[35, 10749]",2105,en,American Pie,24.491,American Pie,6.4,4316,"Jul 9, 1999","$12,000,000","$101,800,948","$234,723,148"
The Amazing Spider-Man,"[28, 12, 14]",1930,en,The Amazing Spider-Man,24.391,The Amazing Spider-Man,6.5,10411,"Jul 3, 2012","$220,000,000","$262,030,663","$757,890,267"
Pirates of the Caribbean: On Stranger Tides,"[12, 28, 14]",1865,en,Pirates of the Caribbean: On Stranger Tides,30.579,Pirates of the Caribbean: On Stranger Tides,6.4,8571,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Captain America: The First Avenger,"[28, 12, 878]",1771,en,Captain America: The First Avenger,25.808,Captain America: The First Avenger,6.9,12810,"Jul 22, 2011","$140,000,000","$176,654,505","$370,569,776"
The Best Years of Our Lives,"[18, 36, 10749]",887,en,The Best Years of Our Lives,9.647,The Best Years of Our Lives,7.8,243,"Nov 21, 1946","$2,100,000","$23,600,000","$23,600,000"
Toy Story 2,"[16, 35, 10751]",863,en,Toy Story 2,22.698,Toy Story 2,7.5,7553,"Nov 19, 1999","$90,000,000","$245,852,179","$511,358,276"
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,Toy Story,7.9,10174,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"
Close Encounters of the Third Kind,"[878, 18]",840,en,Close Encounters of the Third Kind,13.044,Close Encounters of the Third Kind,7.3,2005,"Nov 16, 1977","$20,000,000","$169,100,479","$340,800,479"
Almost Famous,"[18, 10402]",786,en,Almost Famous,11.022,Almost Famous,7.5,1339,"Sep 15, 2000","$60,000,000","$32,522,352","$47,371,191"
From Dusk Till Dawn,"[27, 28, 53, 80]",755,en,From Dusk Till Dawn,16.064,From Dusk Till Dawn,7.0,3015,"Jan 19, 1996","$20,000,000","$25,728,961","$25,732,986"
Apollo 13,"[18, 36]",568,en,Apollo 13,15.855,Apollo 13,7.4,2821,"Jun 30, 1995","$65,000,000","$173,772,767","$335,802,271"
The Blues Brothers,"[10402, 35, 28, 80]",525,en,The Blues Brothers,14.882,The Blues Brothers,7.7,1972,"Jun 20, 1980","$27,000,000","$57,229,890","$57,229,890"
Good Will Hunting,[18],489,en,Good Will Hunting,18.013,Good Will Hunting,8.1,5764,"Dec 5, 1997","$10,000,000","$138,433,435","$225,925,989"
Das Boot,"[18, 36, 10752]",387,de,Das Boot,16.554,Das Boot,8.1,981,"Feb 10, 1982","$12,000,000","$11,487,676","$84,970,337"
Once Upon a Time in America,"[18, 80]",311,en,Once Upon a Time in America,17.717,Once Upon a Time in America,8.4,2243,"Jun 1, 1984","$30,000,000","$5,321,508","$5,575,648"
Terminator 2: Judgment Day,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,24.604,Terminator 2: Judgment Day,7.9,6682,"Jul 2, 1991","$100,000,000","$203,464,105","$515,419,827"
Sin City: A Dame to Kill For,"[80, 53]",189,en,Sin City: A Dame to Kill For,20.896,Sin City: A Dame to Kill For,6.3,2210,"Aug 22, 2014","$65,000,000","$13,757,804","$40,650,842"
Saw,"[27, 9648, 80]",176,en,Saw,19.127,Saw,7.4,4795,"Oct 29, 2004","$1,200,000","$55,968,727","$103,880,027"
Tron,"[878, 28, 12]",97,en,Tron,12.063,Tron,6.6,1100,"Jul 9, 1982","$17,000,000","$26,918,576","$26,918,576"
Armageddon,"[28, 53, 878, 12]",95,en,Armageddon,15.799,Armageddon,6.7,4267,"Jul 1, 1998","$140,000,000","$201,578,182","$554,600,000"
Beverly Hills Cop,"[28, 35, 80]",90,en,Beverly Hills Cop,15.067,Beverly Hills Cop,7.1,1827,"Dec 5, 1984","$15,000,000","$234,760,478","$316,300,000"
2001: A Space Odyssey,"[878, 9648, 12]",62,en,2001: A Space Odyssey,23.781,2001: A Space Odyssey,8.0,5837,"Apr 2, 1968","$10,500,000","$59,936,321","$71,928,046"

In [25]:
#checking type, need to convert to int
type(df_tmdb_tn_innerjoin_unique['worldwide_gross'][0])

str

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [26]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***