![example](images/director_shot.jpeg)

# Project Title

**Authors:** Jonathan, Matt, Nate, Roshni
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
!ls

DS_Project_Presentation.pdf       dsc-phase1-project-template.ipynb
README.md                         images
TEMPLATE_README.md                zippedData

### Box Office Mojo Data Exploration

In [3]:
df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

#### Box Office Mojo data insights

We have 5 columns.

(nearly) All values present - 'title', studio, year

missing a few values in domestic_gross &

missing a lot of values from foreign_gross 

maybe we can add these together and substitute in either mean or median?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [5]:
df['domestic_gross'].describe()

count    3.359000e+03
mean     2.874585e+07
std      6.698250e+07
min      1.000000e+02
25%      1.200000e+05
50%      1.400000e+06
75%      2.790000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

### The Movie Database (tmdb) Data Exploration

#### The Movie Database data insights

dates range from 1930 - 2020, are all relevant?

In [14]:
df_tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz', index_col=0)
df_tmdb['release_date'].sort_values()

14335    1930-04-29
21758    1933-01-21
3580     1936-02-27
26345    1939-01-19
11192    1946-12-25
            ...
24819    2019-05-17
24003    2019-05-17
24892    2019-06-28
24265    2019-06-28
26057    2020-12-25
Name: release_date, Length: 26517, dtype: object

In [12]:
df_tmdb.info

<bound method DataFrame.info of                  genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns]>

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [8]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [9]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***